*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

header {
    background-color: orange;
    font-family: "Creepster", cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #121212;
    font-size: 2.5em;
}

h1,
h2 {
    padding: .25em 0;
    letter-spacing: 0.125em;
    animation: shake 3s infinite;
    color: #121212;
    text-align: center;
}   

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    padding: 0.25em 0;
    font-size: 10em;
}

p:hover {
    animation: shake 3s infinite;
    color: #7701ff;
}

@keyframes shake {
    10% {
    transform: scale(1) rotate(5deg);
    }
    20% {
    transform: scale(1) rotate(-5deg);
    }
    40% {
    transform: scale(1) rotate(5deg);
    }
    50% {
    transform: scale(1);
    }
}

.winning-section {
    background-color: orange;
    color: #121212;
    font-family: "Creepster", cursive;
    font-size: 4em;
    text-align: center;
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25em;
}

button {
    background: #121212;
    border-radius: 999px;
    box-shadow: #121212 0 10px 20px -10px;
    box-sizing: border-box;
    color: orange;
    cursor: pointer;
    font-family: 'Creepster', cursive;
    font-size: .5em;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

button:hover {
    animation: shake 3s infinite;
    
    @keyframes shake {
        10% {
        transform: scale(1) rotate(5deg);
        }
        20% {
        transform: scale(1) rotate(-5deg);
        }
        40% {
        transform: scale(1) rotate(5deg);
        }
        50% {
        transform: scale(1);
        }
    }
}


@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        color: #121212;
        font-size: 1.2em;
    }
    .wrapper {
        overflow-x: hidden;
    }
    a {
        font-size: 3em;
    }
    .winning-section {
        font-size: 2.25em;
    }
}