*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    width: 100%;
}

header {
    background-color: #E66B09;
    font-family: "Creepster", cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #121212;
    font-size: 2em;
}

h1,
h2 {
    padding: 0.25em 0;
    letter-spacing: 0.125em;
    animation: shake 3s infinite;
    animation-iteration-count: 2;
    color: #121212;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    overflow: hidden;
}

a {
    padding: 0.25em 0;
    font-size: 10em;
}

.ghoul-section:hover {
    animation: shake 3s infinite;
}

p:hover {
    animation: shake 3s infinite;
    color: #9d0e0e;
}

@keyframes shake {
    10% {
    transform: scale(1) rotate(5deg);
}
    20% {
    transform: scale(1) rotate(-5deg);
}
    40% {
    transform: scale(1) rotate(5deg);
}
    50% {
    transform: scale(1);
}
}

.results {
    text-align: center;
    background-color: #E66B09;
    color: #121212;
    font-family: "Creepster", cursive;
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

button {
    background: #121212;
    border-radius: 999px;
    box-shadow: #121212 0 10px 20px -10px;
    box-sizing: border-box;
    color: #E66B09;
    cursor: pointer;
    font-family: "Creepster", cursive;
    font-size: 0.7em;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: none;
}

button:hover {
    animation: shake 4s infinite;
    @keyframes shake {
    10% {
        transform: scale(1) rotate(5deg);
    }
    20% {
        transform: scale(1) rotate(-5deg);
    }
    40% {
        transform: scale(1) rotate(5deg);
    }
    50% {
        transform: scale(1);
    }
}
}

@media only screen and (max-width: 768px) {
    header {
    font-size: 1em;
    text-align: center;
}
    a {
    font-size: 3em;
}
    .results {
    font-size: 2em
}
}
